<h1>Details Products::</h1>
{{#if productId}}
    {{#each productId}}
    <h2>{{this.title}}</h2>
    <p>{{description}}</p>
    <br/>
    <strong> {{category}}</strong>
    
    
    <hr>
    <p>{{price}}</p>
    <p> {{stock}}</p>
    {{!-- {{#if productId}} --}}
    <button onclick="addToCart(``)">Agregar al carrito</button>
   
    {{!-- {{/if}} --}}
    {{/each}}

{{else}}
    <p>No hay detalles</p>
{{/if}}
{{!-- <script defer src="/socket.io/socket.io.js"></script> --}}
{{!-- <script defer src="/js/index.js"></script> --}}

<script>

const btnAgregar = document.getElementById(this._id)
console.log(this._id)
btnAgregar.addEventListener('click', () => addCart(this._id))

const addCart = async (pid) => {
    const carrito = await getCart()
    const cartId = carrito[0]._id
    
    try{
        const addCartProduct = await fetch(`http://localhost:8080/api/carts/${cartId}/products/${pid}`,{
            method: 'PUT'
        })
        alert('Producto agregado al carrito')
    }catch(err){
        console.log(err)
    }

}

</script>