<div>
  <h1>PRODUCTS MANAGER</h1>

<div>
    {{#each products.docs}}
    <div>
        <p>Product: {{this.title}} &nbsp; Price: {{this.price}}</p>
        <p>description: {{this.description}} &nbsp; category: {{this.category}}</p>
        <p>stock: {{this.stock}} &nbsp; thumbnails: {{this.thumbnails}}</p>
    </div>
    <button></button>
    <br/>
    {{/each}}
</div>
<br/>
<div>
    {{#if products.hasPrevPage}}
        <a href='/products?page={{products.prevPage}}'><< Anterior</a>
    {{/if}}
   <span>Página {{products.page}} de {{products.totalPages}}</span>

     {{#if products.hasNextPage}}
        <a href="/products?page={{products.nextPage}}">Siguiente >></a>
    {{/if}} 
</div>