<div>
  <h1>PRODUCTS MANAGER</h1>

  <h1>Bienvenid@, {{email}} </h1>
  <div class="container">
      <form method="post" action="/api/sessions/logout">
          <button type="submit">logOut</button>
      </form>

  </div>

<div>
{{#if totalDocs}}
    Listado de productos
    {{#each payload}}
        <ul>
            <li> {{this.title}} - Precio: {{this.price}}</li>
            <a href="/products/{{this._id}}">Ver detalle</a>
            <button onclick="addToCart({{this._id}})">Agregar al carrito</button>
        </ul>
    {{/each}}
    <div>
        {{#if hasPrevPage}}
            <a href={{prevLink}}> << Anterior</a>
        {{/if}}
        {{this.page}}
        {{#if hasNextPage}}
            <a href={{nextLink}}>Siguiente >></a>
        {{/if}}
    </div>
{{else}}
    <p>No hay productos</p>
{{/if}}
</div>

    <script>
      function logout() {
        fetch('/logout', { method: 'POST' })
          .then(() => window.location.href = '/login')
          .catch(console.error);
      }

      console.log("product js");s

      const  addToCart = (productId)=> {
          console.log('El dato recibido es:', productId);
      };
    </script>