<div>
  <h1>PRODUCTS MANAGER</h1>

  <h1>Bienvenido, ....</h1>
 <form method="post" action="/api/sessions/logout">
        <button type="submit">logOut</button>
    </form>

<div>
    {{#each products.docs}}
    <div>
       <h2>{{this.title}}</h2>
        <p>Description: {{this.description}}</p>
        <p>Price: {{this.price}}</p>
        <p>Stock{{this.Stock}}</p>

        <a href="http://localhost:8080/products/{{this._id}}" style="text-decoration: none; color: yellow"> Details of Products </a>
    </div>
    
    <br/>
    {{/each}}
</div>

<br/>

<a href="http://localhost:8080/carts/{{cid}}" style="text-decoration: none; color: yellow"> <button>ir al carrito</button> </a>

<div>
    {{#if products.hasPrevPage}}
        <a href='/products?page={{products.prevPage}}' style="text-decoration: none; color: yellow"><< Anterior</a>
    {{/if}}
   <span>Página {{products.page}} de {{products.totalPages}}</span>

     {{#if products.hasNextPage}}
        <a href="/products?page={{products.nextPage}}" style="text-decoration: none; color: yellow">Siguiente >></a>
    {{/if}} 
</div>

    <script>
      function logout() {
        fetch('/logout', { method: 'POST' })
          .then(() => window.location.href = '/login')
          .catch(console.error);
      }
    </script>